/* Colours */
$darkBlue: #28536B;
$brown: #C2948A;
$lightBlue: #7EA8BE;
$white: #F6F0ED;
$green: #BBB193;

/* Fonts */
$normalFont: 'Lobster', cursive;
$headerFont: 'Poppins', sans-serif;



// classes for the whole site


body {
	color: $white;
	background-color: $darkBlue;
}

.container {
	padding: 5%;
}


.sectionTitle {
	h1 {
		font-family: $headerFont;
	}
}


.sectionMain {

}


.content {
	p {
		width: 30%;
		display: inline-block;

	}

	picture {
		width: 40%;
		display: inline-block;
	}

}

// different background colours for each item set?

.item1 {

}


.item2 {

}


.item3 {

}
