/* Colours */
$darkBlue: #28536B;
$brown: #C2948A;
$lightBlue: #7EA8BE;
$white: #F6F0ED;
$green: #BBB193;

/* Fonts */
$normalFont: 'Poppins', sans-serif;
$headerFont: 'Lobster', cursive;

body {
    font-family: $normalFont;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6em;
}


/* Header */
.page-header {
    margin: auto;
    padding: 20px;

    h1 {
        font-family: $headerFont;
        font-size: 2em;
        display: inline-block;
    }

    nav {
        float: right;
        margin-top: 20px;
    }
}


/* Footer */
$normalFont: 'Lobster', cursive;
$headerFont: 'Poppins', sans-serif;



// classes for the whole site

.sectionTitle {

}

.sectionMain {

}

.content {
	p {

	}

	picture {

	}

}

// different background colours for each item set?

.item1 {

}

.item2 {

}

.item3 {

}
